# Git
.git
.gitignore

# Maven
target/
!target/*.jar
.mvn/
mvnw
mvnw.cmd

# IDE files
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
HELP.md
